# hidden files
.idea
.DS_Store
.pyc

# folders
/env

# python byte code
*.pyc
__pycache__/*.pyc
app/*.pyc
app/auth/*.pyc
app/main/*.pyc
migrations/*.pyc
migrations/__pycache__/*.pyc
migrations/versions/*.pyc
tests/__pycache__/*.pyc

# python bytecode folders
__pycache__/
app/__pycache__/
app/main/__pycache__/
app/auth/__pycache__/
migrations/versions/__pycache__/

# database files
*.sqlite